.copy-trading-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--general-main-1);

    .copy-trading-iframe {
        width: 100%;
        height: 100%;
        min-height: calc(100vh - 150px);
        border: none;
        flex: 1;
    }
}
