.dtrader-iframe-external {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;

    &__container {
        flex: 1;
        position: relative;
        overflow: hidden;
        background: #fff;
        width: 100%;
        height: 100%;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        background: #fff;
    }
}
