.dtrader-iframe-container {
    width: 100%;
    height: calc(100vh - 120px);
    min-height: calc(100vh - 120px);
    overflow: hidden;
    background: #f8fafc;
    position: relative;
}

.dtrader-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
